.u-section-1 .u-sheet-1 {
  min-height: 243px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  width: 700px;
  font-size: 3.75rem;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    height: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 216px;
}

.u-section-2 .u-text-1 {
  margin: 0 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 692px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 557px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/1920px-Dymaxion_with_Tissots_Indicatrices_of_Distortion.svg.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 161px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 647px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 46px 0 0;
}

.u-section-3 .u-image-2 {
  width: 506px;
  height: 284px;
  margin: 46px -28px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-3 .u-image-1 {
    min-height: 459px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-3 .u-image-2 {
    width: 350px;
    height: 197px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-3 .u-image-1 {
    min-height: 352px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    width: 300px;
    height: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-3 .u-image-1 {
    min-height: 528px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-3 .u-image-1 {
    min-height: 332px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1091px;
}

.u-section-4 .u-text-1 {
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 674px;
}

.u-section-5 .u-text-1 {
  margin: 60px 20px 0;
}

.u-section-5 .u-gallery-1 {
  height: 420px;
  width: 1283px;
  grid-gap: 17px;
  margin: 76px -71px 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 308px;
    grid-template-columns: repeat(3, auto);
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-5 .u-gallery-1 {
    height: 944px;
    grid-template-columns: repeat(2, auto);
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-5 .u-gallery-1 {
    height: 708px;
    grid-template-columns: repeat(1, auto);
    width: 540px;
    margin-top: 101px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-5 .u-gallery-1 {
    height: 446px;
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-6 {
  min-height: 674px;
}

.u-section-6 .u-text-1 {
  margin: 60px calc(((100% - 1140px) / 2) + 20px) 0;
}

.u-section-6 .u-gallery-1 {
  height: 364px;
  width: 1140px;
  margin-top: 76px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 610px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-gallery-1 {
    height: 300px;
    grid-template-columns: repeat(3, auto);
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 1229px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-gallery-1 {
    height: 919px;
    grid-template-columns: repeat(2, auto);
    width: auto;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 999px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-gallery-1 {
    height: 689px;
    grid-template-columns: repeat(1, auto);
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 744px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-gallery-1 {
    height: 434px;
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 674px;
}

.u-section-7 .u-text-1 {
  margin: 60px 20px 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-gallery-1 {
  height: 745px;
  grid-gap: 17px;
  margin: 30px auto 60px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-1 {
    height: 614px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-7 .u-gallery-1 {
    height: 689px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1860px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1550px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-7 .u-gallery-1 {
    height: 976px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 {
  min-height: 1227px;
}

.u-section-8 .u-text-1 {
  margin: 60px calc(((100% - 1140px) / 2) + 20px) 0;
}

.u-section-8 .u-text-2 {
  margin: 20px calc(((100% - 1140px) / 2)) 0;
}

.u-section-8 .u-gallery-1 {
  height: 981px;
  width: 1140px;
  margin-top: 30px;
  margin-bottom: 20px;
  grid-gap: 17px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 1055px;
  }

  .u-section-8 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-8 .u-gallery-1 {
    height: 809px;
    grid-template-columns: repeat(3, auto);
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 2725px;
  }

  .u-section-8 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-8 .u-gallery-1 {
    height: 2479px;
    grid-template-columns: repeat(2, auto);
    width: auto;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 2105px;
  }

  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-8 .u-gallery-1 {
    height: 1859px;
    grid-template-columns: repeat(1, auto);
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 1416px;
  }

  .u-section-8 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-8 .u-gallery-1 {
    height: 1170px;
    width: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 598px;
}

.u-section-9 .u-text-1 {
  margin: 60px 20px 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-gallery-1 {
  height: 1126px;
  grid-gap: 17px;
  margin: 30px auto 60px;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-gallery-1 {
    height: 928px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-9 .u-gallery-1 {
    height: 2369px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1784px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1777px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1119px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 843px;
}

.u-section-10 .u-text-1 {
  margin: 60px 20px 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-gallery-1 {
  height: 479px;
  width: 790px;
  grid-gap: 17px;
  margin: 20px auto 0;
}

.u-section-10 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 17px;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-10 .u-btn-1 {
  padding: 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 0 60px;
}

.u-section-10 .u-btn-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-10 .u-gallery-1 {
    grid-template-columns: repeat(3, auto);
    width: 17px;
    margin-bottom: 30px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2109px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-10 .u-gallery-1 {
    height: 1745px;
    grid-template-columns: repeat(2, auto);
    width: 0;
    margin-bottom: 0;
    margin-left: 210px;
  }

  .u-section-10 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1673px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-10 .u-gallery-1 {
    height: 1309px;
    grid-template-columns: repeat(1, auto);
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1188px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-10 .u-gallery-1 {
    height: 824px;
    margin-left: 400px;
  }
}